{{block "hits" .}}
<div class="searchresults" id="searchresults">
  <table>
    <tr>
      <th><select id="year" name="year" onchange="selectAction()">
          <option value="{{.Year}}">{{.Year}}</option>
          {{ range .Years }}
            <option value="{{.}}">{{.}}</option>
          {{ end }}
      </select></th>
      <th></th>
      <th></th>
      <th><select id="section" name="section" onchange="selectAction()">
          <option value="{{.Section}}">{{.Section}}</option>
          {{ range .Sections }}
            <option value="{{.}}">{{.}}</option>
          {{ end }}
      </select></th>
      <th></th>
    </tr>
    <tr>
      <th>Filed</th>
      <th>Ticker</th>
      <th>Company</th>
      <th>Excerpt</th>
      <th>URL</th>
    </tr>
      {{ range .Hits }}
      <tr>
       <td>{{.Filed}}</td>
       <td>{{.Ticker}}</td>
       <td>{{.Name}}</td>
       <td>{{.Excerpt}}</td>
       <td><a href="{{.Url}}" target="_blank">⎘</a></td>
      </tr>
      {{ end }}
  </table>
  <div class="page">
    {{if gt .Page 1}}
      <button class="button" id="previous" onclick="pageAction(-1)">&laquo; Previous</button>
    {{end}}
    {{if gt .Pages 0}}
      <span >Page {{.Page}} of {{.Pages}}.</span>
      <input type="hidden" id="pageNum" value="{{.Page}}" />
    {{end}}
    {{if lt .Page .Pages}}
      <button class="button" id="next" onclick="pageAction(1)">Next &raquo;</button>
    {{end}}
  </div>
</div>
{{ end }}

<script>
  // keep previous query parameters
  const urlParams = new URLSearchParams(window.location.search);
  const term = urlParams.get("searchterm");
  const index = urlParams.get("stockindex");
  document.getElementsByName("searchterm")[0].value=term;
  if (index.length > 0) {
    document.getElementsByName("stockindex")[0].value=index;
  }

  // update page
  function pageAction(i) {
      var y = document.getElementById("year").value;
      var s = document.getElementById("section").value;
      var p = Number(document.getElementById("pageNum").value) + i;
      if (p < 1) {
          return;
        }
      updateTable(s, y, p);
    }

  // update table if select year or section
  function selectAction() {
      var y = document.getElementById("year").value;
      var s = document.getElementById("section").value;
      updateTable(s, y, 1);
    }

  function updateTable(s, y, p) {
      var e = document.getElementById("searchresults");
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
          if (xhr.readyState == 4 && xhr.status == 200) {
              e.outerHTML = xhr.responseText;
          }
      }
      path = "/filter?stockindex=" + encodeURIComponent(index) +
             "&searchterm=" + encodeURIComponent(term) +
             "&section=" + encodeURIComponent(s) +
             "&year=" + encodeURIComponent(y) + 
             "&p=" + encodeURIComponent(p);
      xhr.open("GET", path); 
      try {xhr.send(); } catch (err) { console.log("ajax error") }
  }
</script>

<style>
  .container {margin-top:30px; display: flex;justify-content: center;align-items: center;}
  .page {margin-top:10px; display: flex;justify-content: center;align-items: center;}
  .button {margin-right:10px; margin-left:10px;}

  html * {font-family: arial, sans-serif !important;}

  table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #c5e9ff;}
</style>
</body>
</html>
